.HU-ver-historial {
  background-color: #000000;
  overflow: hidden;
  width: 100%;
  min-width: 1512px;
  height: 982px;
  position: relative;
}

.HU-ver-historial .rectangle {
  top: 0;
  left: 0;
  height: 982px;
  background-color: #ffffff;
  position: absolute;
  width: 1512px;
}

.HU-ver-historial .div {
  top: 0;
  left: 0;
  height: 107px;
  background-color: #194746;
  position: absolute;
  width: 1512px;
}

.HU-ver-historial .line {
  position: absolute;
  top: 0;
  left: 220px;
  width: 3px;
  height: 107px;
}

.HU-ver-historial .union {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 174px;
  height: 89px;
}

.HU-ver-historial .text-wrapper {
  position: absolute;
  top: 43px;
  left: 262px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-2 {
  position: absolute;
  top: 46px;
  left: 498px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-3 {
  position: absolute;
  top: 45px;
  left: 849px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-4 {
  position: absolute;
  top: 46px;
  left: 1095px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .mingcute {
  position: absolute;
  top: 26px;
  left: 1391px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
}

.HU-ver-historial .group {
  position: relative;
  width: 74.48%;
  height: 90.89%;
  top: 8.33%;
  left: 12.76%;
}

.HU-ver-historial .vector {
  position: absolute;
  width: 4.68%;
  height: 3.07%;
  top: 96.93%;
  left: 50.43%;
}

.HU-ver-historial .img {
  position: absolute;
  width: 100%;
  height: 87.09%;
  top: 0;
  left: 0;
}

.HU-ver-historial .text-wrapper-5 {
  top: 21px;
  left: 1443px;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .line-2 {
  position: absolute;
  top: 80px;
  left: 554px;
  width: 91px;
  height: 2px;
}

.HU-ver-historial .grommet-icons-next {
  position: absolute;
  top: 1041px;
  left: 1015px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-2 {
  position: absolute;
  width: 41.67%;
  height: 83.33%;
  top: -37833.33%;
  left: -17120.83%;
}

.HU-ver-historial .solar-user-outline {
  position: absolute;
  top: 25px;
  left: 1276px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-3 {
  position: absolute;
  width: 72.92%;
  height: 89.58%;
  top: 5.21%;
  left: 13.54%;
}

.HU-ver-historial .text-wrapper-6 {
  position: absolute;
  top: 164px;
  left: 606px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .line-3 {
  position: absolute;
  top: 214px;
  left: 77px;
  width: 1355px;
  height: 1px;
  object-fit: cover;
}

.HU-ver-historial .line-4 {
  position: absolute;
  top: 341px;
  left: 77px;
  width: 1355px;
  height: 1px;
  object-fit: cover;
}

.HU-ver-historial .line-5 {
  position: absolute;
  top: 613px;
  left: 87px;
  width: 1355px;
  height: 1px;
  object-fit: cover;
}

.HU-ver-historial .line-6 {
  position: absolute;
  top: 464px;
  left: 92px;
  width: 1355px;
  height: 1px;
  object-fit: cover;
}

.HU-ver-historial .line-7 {
  position: absolute;
  top: 780px;
  left: 87px;
  width: 1355px;
  height: 1px;
  object-fit: cover;
}

.HU-ver-historial .material-symbols {
  position: absolute;
  top: 254px;
  left: 112px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-4 {
  position: absolute;
  width: 75.00%;
  height: 75.00%;
  top: 12.50%;
  left: 12.50%;
}

.HU-ver-historial .lucide-arrow-up-az {
  position: absolute;
  top: 254px;
  left: 1366px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-5 {
  position: absolute;
  width: 70.83%;
  height: 66.67%;
  top: 12.67%;
  left: 8.50%;
}

.HU-ver-historial .text-wrapper-7 {
  position: absolute;
  top: 276px;
  left: 77px;
  width: 538px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
}

.HU-ver-historial .clarity-date-line {
  position: absolute;
  top: 254px;
  left: 1298px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.HU-ver-historial .material-symbols-2 {
  position: absolute;
  top: 251px;
  left: 1226px;
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-6 {
  position: absolute;
  width: 83.33%;
  height: 41.67%;
  top: 29.17%;
  left: 8.33%;
}

.HU-ver-historial .line-8 {
  position: absolute;
  width: 90.00%;
  height: 0;
  top: 84.00%;
  left: 8.00%;
}

.HU-ver-historial .p {
  position: absolute;
  top: 491px;
  left: 219px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-8 {
  position: absolute;
  top: 675px;
  left: 219px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-9 {
  position: absolute;
  top: 371px;
  left: 214px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .rectangle-2 {
  position: absolute;
  top: 1px;
  left: -1px;
  width: 1512px;
  height: 107px;
  background-color: #194746;
}

.HU-ver-historial .line-9 {
  position: absolute;
  top: 1px;
  left: 219px;
  width: 3px;
  height: 107px;
}

.HU-ver-historial .union-2 {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 174px;
  height: 89px;
}

.HU-ver-historial .text-wrapper-10 {
  top: 44px;
  left: 261px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-11 {
  top: 47px;
  left: 497px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-12 {
  top: 46px;
  left: 848px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-13 {
  top: 47px;
  left: 1094px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .group-wrapper {
  top: 27px;
  position: absolute;
  left: 1390px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
}

.HU-ver-historial .line-10 {
  position: absolute;
  top: 74px;
  left: 269px;
  width: 91px;
  height: 2px;
}

.HU-ver-historial .vector-wrapper {
  top: 27px;
  left: 1271px;
  width: 60px;
  height: 60px;
  position: absolute;
  aspect-ratio: 1;
}

.HU-ver-historial .line-11 {
  position: absolute;
  top: 0;
  left: 219px;
  width: 3px;
  height: 107px;
}

.HU-ver-historial .union-3 {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 174px;
  height: 89px;
}

.HU-ver-historial .text-wrapper-14 {
  top: 43px;
  left: 261px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-15 {
  top: 46px;
  left: 497px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-16 {
  top: 45px;
  left: 848px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-17 {
  top: 46px;
  left: 1094px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .div-wrapper {
  top: 26px;
  position: absolute;
  left: 1390px;
  width: 60px;
  height: 60px;
  aspect-ratio: 1;
}

.HU-ver-historial .text-wrapper-18 {
  top: 21px;
  left: 1442px;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .line-12 {
  position: absolute;
  top: 73px;
  left: 269px;
  width: 91px;
  height: 2px;
}

.HU-ver-historial .img-wrapper {
  top: 26px;
  left: 1271px;
  width: 60px;
  height: 60px;
  position: absolute;
  aspect-ratio: 1;
}

.HU-ver-historial .rectangle-3 {
  top: 1px;
  left: -1px;
  height: 107px;
  background-color: #407ea5;
  border: 2px solid;
  border-color: #ffffff;
  position: absolute;
  width: 1512px;
}

.HU-ver-historial .line-13 {
  position: absolute;
  top: 1px;
  left: 187px;
  width: 3px;
  height: 107px;
}

.HU-ver-historial .union-4 {
  position: absolute;
  top: 12px;
  left: 54px;
  width: 87px;
  height: 84px;
  aspect-ratio: 1.03;
}

.HU-ver-historial .text-wrapper-19 {
  top: 44px;
  left: 259px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-20 {
  top: 44px;
  left: 483px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-21 {
  top: 44px;
  left: 806px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-22 {
  top: 44px;
  left: 1024px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .line-14 {
  position: absolute;
  top: 74px;
  left: 268px;
  width: 91px;
  height: 2px;
}

.HU-ver-historial .material-symbols-3 {
  top: 21px;
  left: 1244px;
  width: 71px;
  height: 71px;
  position: absolute;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-7 {
  position: absolute;
  width: 83.10%;
  top: calc(50.00% - 32px);
  left: 12.50%;
  height: 59px;
  aspect-ratio: 1;
}

.HU-ver-historial .solar-user-outline-2 {
  width: 60.56%;
  top: 12px;
  left: 22.54%;
  height: 43px;
  position: absolute;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-8 {
  position: absolute;
  width: 72.92%;
  height: 89.58%;
  top: 4.65%;
  left: 13.95%;
}

.HU-ver-historial .vector-9 {
  position: absolute;
  width: 3.90%;
  height: 6.01%;
  top: 2.44%;
  left: 91.67%;
}

.HU-ver-historial .vector-10 {
  position: absolute;
  width: 2.12%;
  height: 3.46%;
  top: 3.51%;
  left: 92.49%;
}

.HU-ver-historial .material-symbols-4 {
  top: 26px;
  left: 1470px;
  width: 24px;
  height: 24px;
  border-radius: 45px;
  overflow: hidden;
  position: absolute;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-11 {
  position: absolute;
  width: 66.67%;
  height: 66.67%;
  top: -33814.58%;
  left: -19100%;
}

.HU-ver-historial .vector-12 {
  position: absolute;
  width: 0;
  height: 2.29%;
  top: 0;
  left: 94.51%;
}

.HU-ver-historial .text-wrapper-23 {
  width: 0;
  height: 2.04%;
  top: 0;
  left: 94.66%;
  color: #ffffff;
  font-size: 15px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-24 {
  position: absolute;
  top: 533px;
  left: 421px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .text-wrapper-25 {
  position: absolute;
  top: 717px;
  left: 421px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 20px;
  white-space: nowrap;
}

.HU-ver-historial .grommet-icons-next-2 {
  position: absolute;
  top: 860px;
  left: 762px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.HU-ver-historial .vector-13 {
  position: absolute;
  width: 41.67%;
  height: 83.33%;
  top: 26.22%;
  left: 5.39%;
}
